name: Build EXE

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: windows-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install py2exe pynput

      - name: Build EXE using py2exe
        run: |
          python installer.py

      - name: Upload EXE artifact
        uses: actions/upload-artifact@v4
        with:
          name: cstrafe-ui_RDFG-exe
          path: dist/
